.logo {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-accent);
    color: #000;
}

/* Mobile */
@media (max-width: 820px) {
    .logo {
        font-size: 16px; 
    }

    .logo--small {
        font-size: 16px; 
    }


}