.newsletter {

    padding-top: 100px;
    display: flex;
    justify-content: center;

    height: 360px;
    background-color: #e2e4e3;
    background-image: url(./../img/newsletter/bg-newsletter.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaBg() {
        background-image: url(./../img/newsletter/bg-newsletter@2x.jpg);
    }

    /* Tablet */
    @media (max-width: 1184px) {
        background-image: none;
    }

    /* Mobile */
    @media (max-width: 820px) {
        height: auto;
        padding: 95px 0;

    }

}

.newsletter__content {

    flex-grow: 1;
    max-width: 552px;
    text-align: center;
    padding: 0 var(--container-padding);

}

.newsletter__title {
    margin-bottom: 8px;
    font-size: 28px !important;
}

.newsletter__desc {

    font-size: 18px;
    line-height: 1.666;
    color: #121212;
    margin-bottom: 32px;

    /* Mobile */
    @media (max-width: 820px) {
        font-size: 14px;

    }

}

.form__newletter {
    padding-bottom: 12px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid rgba(108, 114, 117, 0.5);

}

.form__newsletter__input {
    flex-grow: 1;
    color: #121212;

    &::placeholder {
        color: #6c7275;
    }
}

.form__newsletter__submit {
    color: #6c7275;
    transition: all 0.2s ease-in;

    &:hover {
        color: #121212;
    }

}

